version: '3.1'

services:

  db:
    image: postgres
    restart: always
    environment:
      PGDATA: /var/postgres_data
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    volumes:
      - postgres_data:/var/postgres_data

  # adminer:
  #   image: adminer
  #   restart: always
  #   ports:
  #     - 8080:8080

volumes:
  postgres_data:
